{:deps
 {io.millstrand/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"
   :deps/root "spools/batteries"}
  millhouse.spools/identity
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "349416b3dd94b7ee0f588d7551a682879e5cda47"
   :deps/root "spools/identity"}
  millhouse.spools/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "349416b3dd94b7ee0f588d7551a682879e5cda47"
   :deps/root "spools/kanban"}
  millhouse.spools/land
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "349416b3dd94b7ee0f588d7551a682879e5cda47"
   :deps/root "spools/land"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "349416b3dd94b7ee0f588d7551a682879e5cda47"
   :deps/root "spools/workflow"}
  codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "4e920fa712d059d73a2a156a46b4686f0833db67"
   :deps/root "spools/config"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "millstrand-ui.auto-run-test"]}}}
