{:deps
 {io.millstrand/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "34f940ddb2e69898554bf76251749715b250ae15"
   :deps/root "spools/batteries"}
  millhouse/auto-run
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/auto-run"}
  millhouse/config
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/config"}
  millhouse/devflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/devflow"}
  millhouse/devflow-kanban-adapter
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/devflow/kanban-adapter"}
  millhouse/harnesses
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/harnesses"}
  millhouse/identity
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/identity"}
  millhouse/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/kanban"}
  millhouse/land
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/land"}
  millhouse/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f13312133daf46e57d510fc0ea289850373264c6"
   :deps/root "spools/workflow"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.millstrand/millstrand
                               {:git/url "https://github.com/codethread/millstrand.git"
                                :git/sha "34f940ddb2e69898554bf76251749715b250ae15"}}
                  :main-opts ["-m" "millstrand-ui.auto-run-test"]}}}
